

<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Generar documentos: resultados</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div md-colors="{ backgroundColor:'teal-A700', color:'default-warn' }">
                    {{dir_salida}}
                  </div>
      
        <md-card>
  
             

              <md-content >
              <div>
                <p>Directorio salida:</p>
                  <div md-colors="{ backgroundColor:'teal-A700', color:'default-warn' }">
                    {{dir_salida}}
                  </div>
              </div>
              <md-list ng-cloak>
                <md-list-item class="secondary-button-padding" ng-repeat="resultado in resultados track by $index">
                  <p>{{resultado[0]}}</p>
                  <md-button ng-if="resultado[2]==1" class="md-accent" ng-click="doSecondaryAction($event)">{{resultado[1]}}</md-button>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>             
              </md-list>
              </md-content>
          

          </md-card>

          
          <md-card ng-if="false">
  
             

              
              <md-list ng-cloak>

              <md-list-item class="secondary-button-padding">
                
                <p>Archivo de codigos JPG: </p>
                <md-button  class=" md-accent" ng-click="doSecondaryAction($event)">codigos_barras_808_JPG.txt</md-button>
                
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>

              <md-list-item class="secondary-button-padding">
                
                <p>Archivo de codigos: </p>
                <md-button  class="md-accent" ng-click="doSecondaryAction($event)">codigos_barras_808.txt</md-button>
                
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>  
              <md-list-item class="secondary-button-padding">
                
                <p>Archivo de codigos JPG: </p>
                <md-button  class="md-accent" ng-click="doSecondaryAction($event)">codigos_barras_809_JPG.txt</md-button>
                
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>  

              </md-list>
              
              
          

          </md-card>
          
          
                
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="cancel('not useful')">
       Aceptar
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>

