<style type="text/css">
	

  .material-icons.md-12 { font-size: 12px; }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
  .material-icons.orange600 { color: #FB8C00; }
  .material-icons.black { color: #000000; }
  .material-icons.red {color: rgb(249, 44, 44);}
  .material-icons.green_big {color: rgb(36, 191, 1);}
  .material-icons.yellow {color: rgb(247, 123, 14)}
  .material-icons.md-gray { color: rgba(255, 255, 255, 0.5)}

  .md-16 { font-size: 16px; }
  .md-16.red {color: rgb(249, 44, 44);}
  .md-16.green_big {color: rgb(36, 191, 1);}
  .md-16.orange600 { color: #FB8C00; }
  .md-16.yellow {color: rgb(247, 123, 14)}

  .widget-info {
  	background-color: rgb(38, 50, 56);
  }

  .widget-info-text-head, .widget-info-text-subhead {
    color: rgba(255, 255, 255, .6);
  }

  .widget-info-text-head {
    font-weight: lighter;
    margin-top: 15px; 
    margin-bottom: 0px;
    color: rgba(255, 255, 255, .8);
  }

  .widget-info-text-subhead {
  	margin-top: 0px;
  	margin-bottom: 0px;
  }

  .header-toolbar {
  	margin: 0px;
  	font-weight: bolder;
  	font-size: 16px;
  	color: rgb(38, 50, 56);
  }

  .header-toolbar-subtitle {
  	margin: 0px;
  	font-weight: 400;
  	font-size: 12px;
  	color: rgb(38, 50, 56);
  }
  


</style>

	<div layout="column" flex="100">
		<div class="padded" md-whiteframe="2">
			<md-toolbar>
	            <div layout="row" class="md-toolbar-tools" style="background-color: rgb(255, 255, 255) !important;">
	            	<div layout="row" layout-align="" flex="33">
	            		<div  layout="column" flex>
	            			<p class="header-toolbar">QA</p>
	            			<p class="header-toolbar-subtitle" >tablero</p>
	            		</div>
	            	</div>
	            </div>
	        </md-toolbar>
        </div>
		<div layout="row" flex="100">
				
			<md-card flex="66">
				<md-card-content layout="column" flex>
						
				</md-card-content>
			</md-card>
				
			<div flex layout="row">
				<div layout="column" flex layout-align="start strech">	

				<md-card class="widget-info">
					<md-card-content layout="column">
							
							<div flex style="margin-bottom: 5px">
								<md-icon class="material-icons md-48 md-gray">view_module</md-icon>
							</div>

							<div flex layout="row" layout-align="end center" style="padding-bottom: 0px; padding-top:0px">
								<h1 class="md-subhead widget-info-text-head">Calidad de actas personales</h1>
							</div>
							<div flex layout="row" layout-align="end center" style="margin-bottom: 0px; padding:0px">
								<h1 class="md-body-2 widget-info-text-subhead">escenario actual</h1>
							</div>
							
					</md-card-content>
				</md-card>

				<md-card class="widget-info">
					<md-card-content layout="column">
							
							<div flex style="margin-bottom: 5px">
								<md-icon class="material-icons md-48 md-gray">receipt</md-icon>
							</div>

							<div flex layout="row" layout-align="end center" style="padding-bottom: 0px; padding-top: 0px">
								<h1 class="md-headline widget-info-text-head">CU-105</h1>
							</div>
							<div flex layout="row" layout-align="end center" style="margin-bottom: 0px; padding:0px">
								<h1 class="md-body-2 widget-info-text-subhead" style="">caso de uso actual</h1>
							</div>
							
					</md-card-content>
				</md-card>

				<md-card class="widget-info">
					<md-card-content layout="column">
							
							<div flex style="margin-bottom: 5px">
								<md-icon class="material-icons md-48 md-gray">bug_report</md-icon>
							</div>

							<div flex layout="row" layout-align="end center" style="padding-bottom: 0px; padding-top: 0px">
								<h1 class="md-headline widget-info-text-head">0044988</h1>
							</div>
							<div flex layout="row" layout-align="end center" style="margin-bottom: 0px; padding:0px">
								<h1 class="md-body-2 widget-info-text-subhead">ticket actual</h1>
							</div>
							
					</md-card-content>
				</md-card>
			</div>
		</div>
	</div>
	




