<style type="text/css">
	

  .material-icons.md-12 { font-size: 12px; }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
  .material-icons.orange600 { color: #FB8C00; }
  .material-icons.black { color: #000000; }
  .material-icons.red {color: rgb(249, 44, 44);}
  .material-icons.green_big {color: rgb(36, 191, 1);}
  .material-icons.yellow {color: rgb(247, 123, 14)}
  .material-icons.gray { color: rgb(178, 176, 176); }

  .md-16 { font-size: 16px; }
  .md-16.red {color: rgb(249, 44, 44);}
  .md-16.green_big {color: rgb(36, 191, 1);}
  .md-16.orange600 { color: #FB8C00; }
  .md-16.yellow {color: rgb(247, 123, 14)}

</style>

<div layout="column" flex>

	<div layout="column" layout-fill>
		<md-card>
		<md-card-header style="padding:0 !important;height:30px !important">
			<md-toolbar style="min-height: 30px; height: 30px !important;">
			    <h2 class="md-toolbar-tools" style="font-size: 16px !important">Escenarios QA</h2>
			</md-toolbar>
		</md-card-header>
		<md-card-content>
		</md-card-content>
		</md-card>
	</div>
	
	<div layout="row" layout-align="center end">
		<md-button class="md-fab md-primary" aria-label="Eat cake">
			<md-icon class="material-icons">add_to_queue</md-icon>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="Eat cake">
			<md-icon class="material-icons">add_to_queue</md-icon>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="Eat cake">
			<md-icon class="material-icons">add_to_queue</md-icon>
		</md-button>
	</div>

</div>