<style type="text/css">
	.material-icons.md-12 { font-size: 12px; }
	.material-icons.md-18 { font-size: 18px; }
	.material-icons.md-24 { font-size: 24px; }
	.material-icons.md-36 { font-size: 36px; }
	.material-icons.md-48 { font-size: 48px; }
	.material-icons.md-light { color: rgba(255, 255, 255, 1); }
	.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
	.material-icons.orange600 { color: #FB8C00; }
	.material-icons.black { color: #000000; }
	.material-icons.red {color: rgb(255, 51, 51);}
	.material-icons.green_big {color: rgb(36, 191, 1);}
	.material-icons.blank {color: transparent;}


	#md-sidenav-val, #md-sidenav-val.md-locked-open, #md-sidenav-val.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 50vw !important;
  max-width: 200px !important;
  }

  md-list-item + md-divider{
    border-top-color: rgb(100, 100, 100) !important;
  }

.header-toolbar {
  	margin: 0px;
  	font-weight: bolder;
  	font-size: 16px;
  	color: rgb(38, 50, 56);
  }

  .header-toolbar-subtitle {
  	margin: 0px;
  	font-weight: 400;
  	font-size: 12px;
  	color: rgb(38, 50, 56);
  }

  .card-header-toolbar {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 12px;
}
.card-header {
  padding: 5px !important;
  background-color: rgb(247, 247, 247);
  
}

.md-toolbar-tools-card {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgb(247, 247, 247) !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 1.2em;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  padding-right: 0;
}

.item-head-list-archivos {
  	color: rgb(108, 112, 120) !important;
  	background-color: transparent;
  	font-weight: bold !important;
  }

  .itemlist p:first-child {
  	font-size: 14px !important;
  	font-weight: bold !important;
  }

  md-list-item + md-divider{
    border-top-color: rgb(100, 100, 100) !important;
  }
</style>

    <!-- LA VALIDACION PRINCIPAL -->
<div flex="100" layout="row">
	<div flex="75" layout="row" style="border: blue 0px solid" layout-align="none" md-whiteframe="1">
		<div layout="row" flex="100" layout-align="center start"> 
			<md-card>
				<md-card-header style="padding:0 !important;height:30px !important">
					<md-toolbar style="min-height: 30px; height: 30px !important;">
					    <h2 class="md-toolbar-tools" style="font-size: 16px !important">Asistente para validar actas automaticas</h2>
					</md-toolbar>
				</md-card-header>
				<md-card-content>
					<xmd-wizard active-step="currentStep" on-change="stepChanged()" on-save="procesarLote($event)">
						<xmd-step label="CARGAR CSV" xmd-required="true">
							<div flex="100" layout="row" layout-align="center center" style="margin-bottom: 10px">
						
								<input class="ng-hide" id="input-file-id" multiple type="file" on-read-file="leerCSV(contents)"/>
								<label for="input-file-id" class="md-button md-raised md-primary">Cargar ACTA CECAITRA (CSV)</label>
								
							</div>
						
						
							<div layout="row" flex="100" ng-show="datos_csv.registros_totales > 0">
								<div flex="66">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Nombre</label>
										<input ng-model="datos_csv.CSV_filename" required disabled style="font-weight: bolder">
									</md-input-container>
								</div>
					   			<div flex="20">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Lote</label>
										<input ng-model="datos_csv.nro_lote" disabled style="font-weight: bolder">
									</md-input-container>
								</div>
								
								<div flex="7">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Registros</label>
										<input ng-model="datos_csv.registros_totales" disabled style="font-weight: bolder">
									</md-input-container>
								</div>
								<div flex="7">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Archivos</label>
										<input ng-model="datos_csv.archivos_fs" disabled style="font-weight: bolder">
									</md-input-container>
								</div>

						   	</div>
						   	<div class="flex flex-col" layout="row" layout-align="center center" ng-show="datos_csv.registros_totales > 0">
								<div flex="50">
									<md-input-container class="md-block" flex-gt-sm style=" margin-bottom:0">
										<label>Fecha emision:</label>
										<input ng-model="datos_csv.fecha_emision" disabled style="font-weight: bolder; color: brown">
									</md-input-container>
								</div>

								<div flex="50">
									<md-input-container class="md-block" flex-gt-sm style="margin-bottom:0">
										<label>UF emision:</label>
										<input ng-model="datos_csv.uf_emision" disabled style="font-weight: bolder; color: brown">
									</md-input-container>
								</div>
							</div>
						   	<div class="flex flex-col" layout="row" layout-align="center center" ng-show="datos_csv.registros_totales > 0">
								<div flex="50">
									<md-input-container class="md-block" flex-gt-sm style=" margin-bottom:0">
										<label>Rango actas desde:</label>
										<input ng-model="datos_csv.numero_acta_min" disabled style="font-weight: bolder; color: brown">
									</md-input-container>
								</div>

								<div flex="50">
									<md-input-container class="md-block" flex-gt-sm style="margin-bottom:0">
										<label>Rango acta hasta:</label>
										<input ng-model="datos_csv.numero_acta_max" disabled style="font-weight: bolder; color: brown">
									</md-input-container>
								</div>
							</div>
							<div flex ng-show="datos_csv.registros_totales > 0">
								<md-content>
									<section layout="row" layout-align="center center" layout-wrap>
										<md-button class="md-raised md-accent" ng-click="cancelar()">cancelar</md-button>
										<!--<md-button class="md-raised md-primary" ng-click="showAdvanced($event)">GENERAR ACTAS (dialog)</md-button>-->
									</section>

									<div flex ng-if="(datos_csv.registros_totales > 0) && datos_csv.mostrar_detalles">
										
										<md-list class="md-dense" flex ng-cloak>
							            <md-list-item class="secondary-button-padding" ng-repeat="registro in datos_csv.CSV_content track by $index">
							              <div class="md-list-item-text" layout="column">
							                <H5>{{registro}}</H5>
							              </div>
							              <md-divider ng-if="!$last"></md-divider>
							            </md-list-item>             
							          </md-list>	
									</div>
								</md-content>
							</div>
						</xmd-step>
						
						<xmd-step label="Cargar Fecha">
							
						
								<md-input-container class="md-block">
									<label>Fecha lote</label>
									<md-datepicker ng-model="fechas_csv.fecha_base" md-placeholder="+ 5 dias habiles" ng-change="calcularFechas()"></md-datepicker>
								</md-input-container>
						
								<div layout="row" flex="100">
						   			<div flex="50">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Constatacion (-60 dias)</label>
											<input ng-model="fechas_csv.fecha_const_calc" disabled style="font-weight: bolder">
										</md-input-container>
									</div>
									<div flex="50">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Vencimiento (+45 dias)</label>
											<input ng-model="fechas_csv.fecha_venc_calc" disabled style="font-weight: bolder">
										</md-input-container>
									</div>
							   	</div>

							
						</xmd-step>

						<xmd-step label="Validar PDF">
							
			                <div layout="row" flex>
			                    <md-card flex>

			                    	<md-toolbar style="min-height: 36px;">

				                        <div class="md-toolbar-tools md-toolbar-tools-card" layout="row" layout-fill>
				                                      
				                            <div layout="row" flex="grow" class="card-header-toolbar">
				                                <span md-truncate flex>Muestras actas papel - {{datos_csv.strLote}}</span>  
				                            </div>
				                            <div layout="row" class="md-toolbar-tools-card" flex="nogrow" ng-if="!componentes.pasos.editar">
				                              <md-button class="md-icon-button md-mini">
				                                <md-icon class="material-icons md-18 black" ng-click="refresh()">refresh</md-icon>
				                              </md-button>
				                            </div>
				                        </div>
				                    </md-toolbar>

				                    <!--
			                      <md-toolbar>
			                        <div class="md-toolbar-tools md-toolbar-tools-card" layout="row" layout-fill flex>
			                            <div layout="row" flex="100" class="card-header-toolbar" style="border: solid 1px blue; height: auto !important">
			                            	<div layout="row" flex>
			                               Muestras actas papel - {{datos_csv.strLote}}  
			                            	</div>
			                                 <div layout-align="end center" flex="20" style="border: solid 1px red">
			                            	<md-button class="md-icon-button" ng-click="cancel()">
							                  <md-icon class="material-icons md-24 black">refresh</md-icon>
							                </md-button>
			                        		</div>
			                            </div>
			                           
			                        </div>
			                      </md-toolbar>                    
			                        -->
			                        
			                      <md-list class="md-dense" flex>
			                        
			                        <md-list-item  ng-repeat="muestra_pdf in actas_pdf.actas_pdf track by $index" class="dense-item-list">
			                            <div layout="row" flex>
			                            	<div layout="row" flex="66">
			                              		<md-button class="md-primary" ng-href="" ng-click="abrirActaPDF($index, $event)">{{'Acta N°' + muestra_pdf.numero_acta}}</md-button>
			                              	</div>
			                              	<div layout="row" flex="33" layout-align="end center" style="text-align: center;">
			                              		<span class="md-body-1" md-truncate flex>{{muestra_pdf.estado_validacion}}</span>
			                              	</div>
			                            </div>			                          
			                        </md-list-item>
			                        
			                      </md-list>
			                    </md-card>
			                </div>
			                
						</xmd-step>

						<xmd-step label="Resumen">
							
			                <div layout="row" flex>
			                    <md-card flex>
			                      <md-toolbar style="min-height: 36px;" flex>
			                        <div class="md-toolbar-tools md-toolbar-tools-card" layout="row" layout-fill flex>
			                            <div layout="row" flex="grow" class="card-header-toolbar">
			                                <span md-truncate flex>Datos de la operacion</span>  
			                            </div>
			                        </div>
			                      </md-toolbar>                    
			                        
			                        <div flex="66">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Archivo a validar</label>
											<input ng-model="datos_csv.CSV_filename" required disabled style="font-weight: bolder">
										</md-input-container>
									</div>
						   			<div flex="20">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Lote</label>
											<input ng-model="datos_csv.nro_lote" disabled style="font-weight: bolder">
										</md-input-container>
									</div>
									
									<div flex="7">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Registros</label>
											<input ng-model="datos_csv.registros_totales" disabled style="font-weight: bolder">
										</md-input-container>
									</div>
			                      
			                    </md-card>
			                </div>
			                
						</xmd-step>

					</xmd-wizard>
				</md-card-content>
			</md-card>
		</div>
	</div>

	<div flex="25" layout="row" style="border: solid 0px red" layout-align="none" >
		<div layout="column" style="border: solid 0px blue; " flex="100">
			<div layout="row" flex="10" style="border: solid 0px red; height: 50px !important">
				<div layout="row" class="item-head-list-archivos" layout-padding flex="65" style="border: solid 0px red" layout-align="start center">
					Lotes validados	
				</div>
				<div layout="row" flex="35" style="border: solid 0px blue" layout-align="end center">
					<div class="menu-demo-container" layout="row">
			            <md-menu md-position-mode="target-right bottom">
			              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
			                <md-icon class="material-icons md-20 toolbar-gray" style="margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; line-height: 20px !important">settings</md-icon>
			              </md-button>
			              <md-menu-content width="2" >
			              	<md-menu-item >
			                  	
			                    <span >Tipo de listado</span>

			                </md-menu-item>
			              	<md-menu-item>

			                  <md-button ng-click="vm.crearReproduccion($event)">
			                  	<md-icon style="margin-right: 5px !important" class="material-icons md-18 blank">check</md-icon>
			                    Lotes validados hoy
			                  </md-button>

			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="vm.crearReproduccion($event)">
			                  	<md-icon style="margin-right: 5px !important" class="material-icons md-18">check</md-icon>
			                    Lotes validados la ultima semana
			                  </md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-disabled="vm.habilitarBorrarReproduccion()" ng-click="vm.borrarReproduccion($event)">
			                  	<md-icon style="margin-right: 5px !important" class="material-icons md-18 blank">check</md-icon>
			                   Todos los lotes validados
			                  </md-button>
			                </md-menu-item>
			                <md-menu-divider></md-menu-divider>
			                <md-menu-item>
			                  <md-button ng-disabled="vm.habilitarBorrarReproduccion()" ng-click="vm.borrarReproduccion($event)">
			                  	<md-icon style="margin-right: 5px !important" class="material-icons md-18">file_download</md-icon>
			                   Exportar datos...
			                  </md-button>
			                </md-menu-item>
			              </md-menu-content>
			            </md-menu>          
					</div>
				</div>
			</div>
			<md-list style="border: solid 0px green; overflow: auto">
				
				
					<md-list-item class="md-2-line" style="border: solid 0px red;" ng-repeat="lote_validado in lotes_validados">
		            	<div class="itemlist md-list-item-text">
		            		<p>{{lote_validado.metalote}}</p>
		            		<p>aceptado ({{lote_validado.fecha_validado | date:'dd-MM-yyyy HH:mm:ss'}})</p>
		            	</div>
		            	<md-icon style="margin-right: 5px !important" class="material-icons md-24 green_big">verified_user</md-icon>
		            	<md-divider></md-divider>
		       		</md-list-item>
	       		
	       		<!--
	       		<md-list-item class="md-2-line">
				    <md-icon style="margin-right: 5px !important" class="material-icons md-24 red">cancel</md-icon>
				    <div class="itemlist md-list-item-text">
	            		<p>Lote536</p>
	            		<p>rechazado (15/05/2018)</p>
	            	</div>
	            	<md-divider></md-divider>
				</md-list-item>

				<md-list-item class="md-2-line">
				    <md-icon style="margin-right: 5px !important" class="material-icons md-24 green_big">verified_user</md-icon>
				   <div class="itemlist md-list-item-text">
	            		<p>Lote536</p>
	            		<p>aceptado (15/05/2018)</p>
	            	</div>
	            	<md-divider></md-divider>
				</md-list-item>
			-->
			</md-list>
			<div ng-if="is_loading" layout="row" layout-sm="column" layout-align="space-around">
      			<md-progress-circular md-mode="indeterminate" md-diameter="20"></md-progress-circular>
    		</div>
			<md-button ng-if="false" class="md-raised" ng-click="guardarLoteValidado($event)">Lotes validados</md-button>
		</div>
	</div>

</div>

    <div flex ng-if="false">
			<md-divider></md-divider>
			<md-content>
				<section layout="row" layout-align="center center" layout-wrap>
					<md-button class="md-raised md-primary" ng-click="procesarLote($event)">VALIDAR</md-button>
					<!--<md-button class="md-raised md-primary" ng-click="showAdvanced($event)">GENERAR ACTAS (dialog)</md-button>-->
				</section>
			</md-content>
		</div>
    
    <!-- SIDENAV CON LISTADO DE ACTAS VALIDADAS -->
	<!-- DEPRECATED: este "componente" ahora tiene su propios ui-route, controlador y vista. Revisar validaciones-tablero-controller.js
	<div flex layout-align="right">
	 
	 	
		
		    <md-sidenav
		        class="md-sidenav-right"
		        md-component-id="right"
		        md-is-locked-open="true"
		        md-whiteframe="2"
		        md-disable-backdrop="true"
		        id="md-sidenav-val"
		        style="min-width: 200px; width:200px">
		        

		        
		        	<md-subheader class="md-primary">Lotes validados</md-subheader>
					<md-list class="md-dense" flex>

		          		<md-list-item class="md-2-line item-menu-open" ng-click="showMenu($event, $index)" ng-repeat="lote_validado in lotes_validados track by $index">
		            		<div class="md-list-item-text">
		              			<h3><strong>{{lote_validado.lote}}</strong></h3>
		              			<p style="font-size: 11px">{{lote_validado.fecha_procesado}}</p>
		            		</div>
		            		<md-icon ng-class="lotes_estados[lote_validado.id_estado].css_class">{{lotes_estados[lote_validado.id_estado].icon}}</md-icon>
		          		</md-list-item>
		          		<md-divider ng-if="!$last"></md-divider>
		          		
		          		
		         	</md-list>

		        
			</md-sidenav>
		</div>
	-->

	

