<style>

  .material-icons.md-12 { font-size: 12px; }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-20 { font-size: 20px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-28 { font-size: 28px; }
  .material-icons.md-32 { font-size: 32px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
  .material-icons.orange600 { color: #FB8C00; }
  .material-icons.black { color: #000000; }
  .material-icons.red {color: rgb(249, 44, 44);}
  .material-icons.green_big {color: rgb(36, 191, 1);}
  .material-icons.yellow {color: rgb(247, 123, 14)}
  .material-icons.gray { color: rgb(178, 176, 176); }
  .material-icons.gray2 { color: rgb(128, 126, 126); }
  .material-icons.v-toolbar {color: #263238;}

  .md-16 { font-size: 16px; }
  .md-16.red {color: rgb(249, 44, 44);}
  .md-16.green_big {color: rgb(36, 191, 1);}
  .md-16.orange600 { color: #FB8C00; }
  .md-16.yellow {color: rgb(247, 123, 14)}
  
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }

  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  .marco {
    /*position: relative;*/
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  }

  .item-menu-activo {
    background-color: rgb(3, 155, 229);  
  }
  .item-menu-activo md-icon   {
    
    color: #FFF !important;
  }
  .item-menu-activo > div h3 {
    color: #FFF !important;
    font-weight: bold !important;
  }

  #item-menu {
    color: #FFF !important;
  }

  .md-sidenav-head {
    background-color: #263238;
    color: rgb(108, 112, 120);
    font-size: 12px !important;
  }


  md-list-item {
  height: 2em;
  min-height: initial;   
  }

  md-list-item + md-divider{
    border-top-color: rgb(100, 100, 100) !important;
  }
  

  md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 250px !important;
  width: 50vw !important;
  max-width: 250px !important;
  }


  #style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

/* COMPONENTE CSS */

.header-toolbar {
    margin: 0px;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(38, 50, 56);
}

.header-toolbar-subtitle {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(38, 50, 56);
}


.accordion {
    padding: 5px;
    padding-left: 10px;
    background-color: #f5f5f5;
    border: 1px solid #DDD;
}

.accodion-subtitle {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  color: #333;

}

/* FIN COMPONENTE CSS */



  .mat-tab-label{
line-height: 28px !important;
height: 28px !important;

}
 .mat-tab-header {
background-color: #0288D1;
color: white;
border-radius: 5px 5px 0px 0px;
}
.mat-ink-bar {
background-color: #d14b02 !important;
min-width: 120px;
}

.md-toolbar {
  display: block !important;
  /*height: 25px !important;*/
  line-height: 44px !important;
  min-height: 44px !important;
  max-height: 44px !important;
  background-color: #263238 !important; 
  padding-left: 10px !important;
}

.md-toolbar .md-toolbar-title{
  font-size: 14px;
  font-color: #101;
}


.repro_fallida {
  font-size: 14px;
  font-weight: 400;
  color: rgb(249, 44, 44);
}

.repro_exitosa {
  font-size: 14px;
  font-weight: 400;
  color: rgb(36, 191, 1);
}

.button-outline {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  background: none;
  box-shadow: none; }
  .button-outline.button-outline {
    border-color: transparent;
    background: transparent;
    color: transparent; }
    .button-outline.button-outline.active, .button-outline.button-outline.activated {
      background-color: transparent;
      box-shadow: none;
      color: #fff; }


.button-balanced {
    border-color: transparent;
    background-color: #33cd5f !important;
    color: #fff !important; }
 .button-balanced:hover {
      color: #fff !important;
      text-decoration: none; }
.button-balanced.active, button-balanced.activated {
      border-color: #a2a2a2 !important;
      background-color: #28a54c !important; }
 

</style>

<md-dialog aria-label="Mango (Fruit)" flex="70" style="background-color: #f3f3f3!important" md-is-locked-open="vm.isLockedOpen()">

	<div layout="column">
          <md-toolbar class="md-toolbar" md-whiteframe="2">
            <div layout="row" flex="100">
              <div class="md-toolbar-title" flex>
                [Archivo de respuesta]: lote ACEPTADO - instancia CALIDAD
              </div>
              <div ng-if="!vm.reproduccion_datos.edit_state" layout="row" layout-align="end center" flex="20">
                 <md-button class="md-icon-button" ng-click="vm.edit()">
                  <md-icon class="material-icons md-24">delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.edit()">
                  <md-icon class="material-icons md-24">edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.hide()">
                  <md-icon class="material-icons md-24">close</md-icon>
                </md-button>
              </div>
              <div ng-if="vm.reproduccion_datos.edit_state" layout="row" layout-align="end center" flex="20">
                <md-button class="button-balanced md-raised" ng-click="vm.guardarDatos()">
                  guardar
                </md-button>
                <md-button class="md-warn md-hue-2 md-raised" ng-click="vm.edit()">
                  cancelar
                </md-button>
              </div>
            </div>
          </md-toolbar>
        </div>  

  <md-dialog-content style="background-color: #F3F3F3">

     <div layout="row">
   
    <div layout="row" layout-fill style="width: 250px !important;height: auto !important">

               
        <md-sidenav
            
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="5"
            md-disable-backdrop="true"
            style="background-color: #FFF;"
            flex layout="column">

              
              
            
            <div layout="column" layout-fill flex="100" style="">
                
                 <div layout="row">
                       <div layout="column" layout-align="center center" style="border: 0px solid lightgray; padding: 5px; background-color: #FFF;" flex="100">
                          <div layout="column"  layout-align="center center" style="border: 0px solid red; width: 100%; padding-right: 20px;" >
                              <md-icon ng-click="vm.openMenu($mdMenu, $event)" class="md-menu-origin material-icons md-48" ng-class="vm.widgets.reproduccion_estado[vm.widgets.reproduccion_estado.reproduccion_estado_sel].class_estado.icon_class" style="height: auto !important">{{vm.widgets.reproduccion_estado[vm.widgets.reproduccion_estado.reproduccion_estado_sel].icon_estado}}</md-icon>
                          </div>
                          <div class="" layout="column" layout-align="center center" ng-class="vm.widgets.reproduccion_estado[vm.widgets.reproduccion_estado.reproduccion_estado_sel].class_estado.text_class">{{vm.widgets.reproduccion_estado[vm.widgets.reproduccion_estado.reproduccion_estado_sel].txt_estado}}</div>
                        </div>
                    </div>
                <md-list class="md-dense" flex style="padding: 5px !important">

                <md-divider style="margin-bottom: 5px;"></md-divider> 
                    

                 <md-list-item ng-repeat="campo in vm.reproduccion_datos.campos track by $index" class="md-2-line" style="line-height: 30px !important; height: 30px !important; min-height: 25px !important; border: 0px solid cyan; padding:5px 0px 5px 0px !important">
                  <md-icon class="material-icons md-18 v-toolbar" style="margin-left: 0px; margin-top: 3px !important; border: 0px solid red; margin-right: 5px !important; height: auto !important">{{campo.icon}}</md-icon> 
                  <div class="md-list-item-text" style="border: 0px solid blue;">
                    <md-input-container ng-if="vm.reproduccion_datos.edit_state" style="min-height:0px !important; margin: 0px !important; padding: 0px !important; border: 0px solid red"  class="md-block">
                      <input style="font-weight: 600; font-size: 10px; color: #4e6470" ng-model="campo.cmp_data">
                    </md-input-container>
                    <h3 ng-if="!vm.reproduccion_datos.edit_state" style="font-weight: 600; font-size: 10px; color: #4e6470">{{campo.cmp_data}}</h3>
                    <p ng-if="!vm.reproduccion_datos.edit_state">{{campo.cmp_nombre}}</p>
                  </div>
                  
                </md-list-item>

                <md-subheader class="md-no-sticky">{{vm.reproduccion_datos.descripcion.cmp_nombre}}</md-subheader>
                <md-list-item class="md-2-line" style=" padding: 5px !important">                  
                    <div style="height: 10rem; overflow-y: auto;" flex="100">
                     <md-content ng-if="!vm.reproduccion_datos.edit_state" layout="column" flex="100" style="padding: 5px !important; font-size: 11px;background-color: #f5f5f5; height: 10rem">
                       {{vm.reproduccion_datos.descripcion.cmp_data}}
                     </md-content>
                     <md-input-container flex ng-if="vm.reproduccion_datos.edit_state">
                      <form name="userForm">
                      <textarea  ng-model="vm.reproduccion_datos.descripcion.cmp_data" rows="5" aria-label="descripcion" ng-trim="false" focus-on="focusMe"></textarea>
                      </form>
                    </md-input-container>
                    </div>
                  
                </md-list-item>
                </md-list>
            </div>
            
        </md-sidenav>


    </div>

    <!-- LAS OPCIONES DEL MENU DEL SIDENAVBAR CARGAR SUS TEMPLATES EN ESTA VISTA -->
    <md-content layout="column" layout-fill flex>
      <div layout="column" flex="100" ng-cloak style="padding: 5px !important;">
        <div>
          <md-card flex="100">
            <md-toolbar style="min-height: 36px;">
              <div class="md-toolbar-tools md-toolbar-tools-card" layout="row" layout-fill>
                  <div layout="row" flex="grow" class="card-header-toolbar">
                      <span md-truncate flex>Resultados obtenidos</span>  
                  </div>
              </div>
            </md-toolbar>                    
            <md-list class="md-dense">
              <md-list-item  class="dense-item-list" ng-repeat="resultado_obtenido in vm.casoPruebaDataPack.resultados_esperados track by $index">
                <md-icon class="material-icons md-18 toolbar-gray" style="margin-right:5px">subdirectory_arrow_right</md-icon>
                <md-truncate class="md-ellipsis" flex>
                    <span style="font-size:12px">{{resultado_obtenido}}</span>
                </md-truncate>
                <md-menu md-position-mode="target-left target">
                  <md-button style="border: 0px solid red; margin-top: 7px" aria-label="Open demo menu" class="md-icon-button" ng-click="vm.openMenu($mdMenu, $event)">
                    <md-icon class="material-icons md-18 v-toolbar">schedule</md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-list class="md-dense" flex>                                
                         <md-list-item ng-click="ctrl.redial($event)">
                          <md-icon class="material-icons md-24 md-secundary green_big" style="margin-left:0px">done</md-icon> 
                          <p>Resultado positivo</p>
                        </md-list-item>
                        <md-list-item ng-click="ctrl.redial($event)">
                          <md-icon class="material-icons md-24 md-secundary red" style="margin-left:0px">bug_report</md-icon> 
                          <p>Resultado negativo</p>
                        </md-list-item>
                         <md-list-item ng-click="ctrl.redial($event)">
                          <md-icon class="material-icons md-24 md-secundary v-toolbar" style="margin-left:0px">schedule</md-icon> 
                          <p>Resultado pendiente</p>
                        </md-list-item>
                    </md-list>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
            </md-list>
          </md-card>
        </div>
          
        <div style="" flex="66" layout="column" layout-fill>
          <md-card flex="100">
            <md-toolbar style="min-height: 36px;">
              <div class="md-toolbar-tools md-toolbar-tools-card" layout="row" layout-fill>
                <div layout="row" flex="grow" class="card-header-toolbar">
                    <span md-truncate flex>Notas</span>  
                </div>
              </div>
            </md-toolbar>

            <md-card-content flex style="font-size: 11px; background-color: #fff !important; overflow: auto !important; max-height: 250px !important;">
              

              <md-content ng-if="!vm.reproduccion_datos.edit_state" style="background-color: #fff !important;">{{vm.widgets.reproduccion_notas.data}}</md-content>
            
             <md-input-container style="margin: 0px; padding: 0px !important" ng-if="vm.reproduccion_datos.edit_state" class="md-block">
                <textarea ng-model="vm.widgets.reproduccion_notas.data" rows="5" aria-label="descripcion" ng-trim="false" focus-on="focusMe" style="font-size: 11px; background-color: #fff;line-height: 12px;"></textarea>
              </md-input-container>
                


            </md-card-content>                    

            <!--
            <div style="min-height: 100% !important; overflow: auto; padding: 5px !important;" flex="100" >
              <md-content  layout="column" flex="100" style="padding: 5px !important; font-size: 11px;background-color: #fff; height: auto !important; overflow-y: auto !important;" >
               
               <md-conent ng-if="!vm.reproduccion_datos.edit_state">{{vm.widgets.reproduccion_notas.data[0].reproduccion_nota_texto}}</md-conent>
            
             <md-input-container flex="100" layout="row" ng-if="vm.reproduccion_datos.edit_state" class="md-block">
                
                <textarea ng-model="vm.widgets.reproduccion_notas.data[0].reproduccion_nota_texto" rows="5" aria-label="descripcion" ng-trim="false" focus-on="focusMe" style="padding: 5px !important; font-size: 11px;background-color: #fff; height: auto !important;"></textarea>
                
              </md-input-container>
               </md-content>
            </div>
          -->
          </md-card>
        </div>
            


    </div>
  </md-content>
   
  </div>
  <!--
  <div class="md-actions" layout="row" style="border: 1px solid red">
    <div flex layout="row" layout-align="end center">
      <md-button ng-class="btn_modal.aceptar.css_style" ng-disabled="true" ng-click="vm.procesarForm()">
       guardar
      </md-button>
      <md-button ng-class="btn_modal.cancelar.css_style" ng-click="vm.cancel()">
       cancelar
      </md-button>
    </div>
  </div>  
-->
	
</md-dialog>


<!--
                                <md-menu-item>
                                  <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span> 1 </md-button>
                                </md-menu-item>
                              -->
                               <!--
                        <div style="height: 7rem; overflow-y: auto;">
                          <div layout="row" flex>
                              <md-input-container class="md-block md-no-float" style="border: 0px solid lightgray" flex="100">
                                <textarea rows="5" md-select-on-focus value="asddqe qee  qew ead ad " style="font-size: 11px"></textarea>
                              </md-input-container>
                           </div>
                        </div>

                      -->